<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:r="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilites" IgnorableNamespaces="uap mp r">
  <Identity Name="39705SimonDieterle.TextSecure" Publisher="CN=D7D38CBF-3113-497A-88DB-52B717888A39" Version="1.1.0.0" />
  <mp:PhoneIdentity PhoneProductId="e13539c9-2506-4444-bf9d-ddbe92b4a5c8" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Singal</DisplayName>
    <PublisherDisplayName>Simon Dieterle</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="TextSecure.App">
      <uap:VisualElements DisplayName="Signal" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="TextSecure" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="Signal">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="SignalTasks.SmsReceiverTask">
          <BackgroundTasks>
            <Task Type="general" />
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="SignalTasks.PushReceiverTask">
          <BackgroundTasks>
            <Task Type="pushNotification" />
          </BackgroundTasks>
        </Extension>
        <uap:Extension Category="windows.protocol" EntryPoint="Views.ProvisioningProtocolView">
          <uap:Protocol Name="tsdevice">
            <uap:Logo>Assets\StoreLogo.png</uap:Logo>
            <uap:DisplayName>TextSecure</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="contacts" />
    <!-- essential -->
    <!-- essential -->
    <!-- Scan QR Code -->
    <!-- Not used yet -->
    <DeviceCapability Name="webcam" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
  <!-- Required for curve25519 (for now). Would like NuGet to do this one day automatically. For now, it's manual. -->
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>curve25519.dll</Path>
        <ActivatableClass ActivatableClassId="curve25519.Curve25519Native" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
</Package>